<h2 >Experience Details</h2>

<div class="container-main">
  <div class="container-reviews">
    <div class="experience-izquierda">
      {{experience.titulo}}
     <div>
   <textarea class="textarea" readonly>{{experience.texto}}</textarea>
  <img src="{{experience.imagen}}" alt="" />
      {{experience.filtro}}
      <div class="buttons-experience">
        <a href="/myExperiences/{{experience.id}}/edit">edit</a>
        <form action="/myExperiences/{{experience.id}}/delete" method="POST">
          <button type="submit">borrar</button>
        </form>
      </div>
      <div class="fecha-creacion">
        <p>Fecha de creaci칩n: {{experience.createdAt}}</p>
      </div>
    </div>

 
    <div class="reviews">
      <div class="title-reviews">
        <h3>Rese침as</h3>
      </div>
      {{#each reviews}}
        <div class="details-reviews" style="border: solid 1px red">
          {{title}}
          <br />
          {{rating}}
          <br />
          {{comment}}
          <br />
          <a href="/myExperiences/{{experienceId}}/reviews/{{_id}}">Views</a>
        </div>
      {{/each}}
    </div>
    <a
    href="/myExperiences/{{experience.id}}/reviews/new"
    class="btn btn-dark"
  >A침adir rese침a</a>
  </div>
</div>

<script
  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"
></script>
<script src="/js/create-map.js"></script>