<h2>experiencias list</h2>

<div>
  <div style="border: solid 1px red">
    {{experiencia.id}}
    {{experiencia.titulo}}
    {{experiencia.texto}}
    {{experiencia.imagenes}}
    {{experiencia.filtro}}
    <a href="/experiencias/{{experiencia.id}}">edit</a>
    <form action="/experiencias/{{experiencia.id}}/delete" method="POST">
      <button type="submit">borrar</button>
    </form>
  </div>
</div>