<h2>Reviews list</h2>
hola
<div>
  {{#each reviews}}
    <div >
      {{title}}
      {{rating}}
      {{comment}}
      {{location}}
      <a href="/myReviews/{{_id}}">Mis reviews</a>
    </div>
  {{/each}}
</div>
