<h1>Resultados</h1>

<div class="results-container">
  {{#each response}}
    <div class="result-card">
      <hr />
      <p>name: {{name}}</p>
      <input type="text" name="name" value="{{name}}" hidden />
      <p>address: {{address}}</p>
      <input type="text" name="address" value="{{address}}" hidden />
      <p>category: {{category}}</p>
      <p>location: {{location}}</p>
      {{! me devuelve bien los datos de long y latitud }}
      <p>lat: {{lat}}</p>
      <p>lng: {{lng}}</p>
      <p>number of reviews: {{numReviews}}</p>
      <p>Details: <a href="{{details}}">Ver detalles</a></p>
      <canvas id="myChart"></canvas>
      <div id="map-{{lat}}/{{lng}}" style="width: 100%; height: 400px;"></div>
      console.log({{lat}}/{{lng}})
      <form action="/create-experience-with-api" method="post">
        {{!-- <input type="text" name="lat" value="{{lat}}" hidden />
      <input type="text" name="lng" value="{{lng}}" hidden /> --}}
        {{! <button type="submit">Crear experiencia</button> }}
      </form>
    </div>
  {{/each}}
</div>

<script src="/js/create-map.js"></script>
<script src="/js/chart.js"></script>